@font-face {
  font-family: iconfont; /* Project id 3190970 */
  src: url('iconfont.woff2?t=1667200239186') format('woff2'), url('iconfont.woff?t=1667200239186') format('woff'),
    url('iconfont.ttf?t=1667200239186') format('truetype');
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list::before {
  content: '\e787';
}

.icon-person::before {
  content: '\e609';
}

.icon-sms::before {
  content: '\e608';
}

.icon-email::before {
  content: '\e607';
}

.icon-del1::before {
  content: '\e606';
}

.icon-del::before {
  content: '\e605';
}

.icon-edit::before {
  content: '\e604';
}

.icon-close::before {
  content: '\e613';
}

.icon-search::before {
  content: '\e612';
}

.icon-question::before {
  content: '\e611';
}

.icon-filter::before {
  content: '\e601';
}

.icon-sms-old::before {
  content: '\e603';
}

.icon-email-old::before {
  content: '\e7de';
}

.icon-detail::before {
  content: '\e602';
}

.icon-arrow-right::before {
  content: '\e600';
}

.icon-export::before {
  content: '\e677';
}

.icon-jump::before {
  content: '\e62f';
}
